{% extends 'base.html'%}

{% block content %}

<div class ="container-fluid">
     <div class= "row">
     <div class= "col-3">
     </div>
     <div class= "col-6">
          <div class="card mt-5" >
  
			  <div class="card-body">
			  	<h3>{{ postagem.titulo }}</h3>
			  	<p><i class="fa fa-calendar"></i> <i>{{postagem.data_criacao}}</i> </p> 
			  
			  	<p><i class="fa fa-user"></i>   <b>Autor:</b> {{postagem.autor.username}}</p>
			  	
			  	{% if postagem.data_publicacao %}

			  	   <p><b>Data publicação:</b> {{postagem.data_publicacao}}</p>

			  	{% endif %}

			  	<hr>

			    <p class="card-text">{{ postagem.texto | linebreaksbr }}</p>
			  </div>
			</div>

     </div>
     <div class= "col-3">
     </div>
     
     </div>
</div>

{% endblock %}